* {
  font-family: serif;
}

::placeholder {
  color: rgb(0, 0, 0);
  opacity: 1; /* Firefox */
}

.weather-container {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  width: 90%;
  height: 85vh;
  border-radius: 30px;
  overflow: hidden;
}
.search-container {
  display: flex;
  flex-direction: column;
  flex: 0 1 15%;
  padding: 30px 20px 15px 20px;
  flex: 0 1 20%;
}
.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 20px 0;
}
.search-input {
  border: 1px solid rgb(223, 223, 223);
  border-radius: 10px;
  padding: 5px;
  font-size: 16px;
  width: 100%;
}
.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
}
.temperature-container .weather-icon img {
  width: 175px;
}
.temperature-container .temperature {
  font-size: 40px;
  margin: -30px 0 0 0;
}
.temperature-container .city-time {
  font-size: 19px;
  margin: 0 0 10px 0;
  font-weight: 500;
}
.temperature-container .city-time span {
  font-size: 19px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}
.search-description {
  display: flex;
  flex-direction: column;
  flex: 0 1 20%;
  font-size: 24px;
}
.search-description .clouds {
  font-size: 24px;
}
.search-description .city-name {
  font-size: 40px;
  margin: 0;
  padding: 0;
}
.search-icon {
  height: 35px;
  width: 25px;
}
.search-form-off {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 70px 0 -100px 0;
}
.search-input-off {
  border: 1px solid rgb(223, 223, 223);
  border-radius: 10px;
  padding: 5px;
  font-size: 28px;
  width: 450px;
  height: 70px;
  text-align: center;
}
.search-btn-off {
  display: none;
}

.temperature-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 0 1 50%;
  border-bottom: 1px solid rgba(216, 208, 208, 0.589);
}
.forecast-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex: 0 1 80%;
  background-color: #f6f6f8;
  padding: 30px 25px 15px 25px;
}
.forecast-container-off {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 700px;
  background-color: #f6f6f8;
  padding: 30px 25px 15px 25px;
  font-size: 24px;
}
.forecast-container-off-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex: 0 1 100%;
  background-color: #f6f6f8;
  padding: 30px 25px 15px 25px;
  font-size: 35px;
}
.forecast-container-off-wrapper img {
  width: 200px;
  height: 200px;
}
.forecast-container-off-wrapper span {
  font-size: 50px;
  font-weight: 500;
}
.forecast-container .week-forecast {
  display: flex;
  flex-direction: row;
  flex: 0 1 35%;
  width: 100%;
}

@media (max-width:1400px) {
  .temperature-container .weather-icon img {
    margin: -40px 0 0 0;
    width: 130px;
    height: 120px;
  }
  .temperature-container .temperature {
    font-size: 30px;
    margin: -30px 0 0 0;
  }
  .temperature-container .city-time {
    font-size: 16px;
    margin: 0 0 10px 0;
    font-weight: 500;
  }
  .temperature-container .city-time span {
    font-size: 16px;
    font-weight: 500;
    color: rgb(0, 0, 0);
  }
  .search-description {
    display: flex;
    flex-direction: column;
    flex: 0 1 20%;
    font-size: 20px;
  }
  .search-description .clouds {
    font-size: 20px;
  }
  .search-description .city-name {
    font-size: 30px;
    margin: -30px 0 0 0;
    padding: 0;
  }
}

@media(max-width:992px) {
  .forecast-container-off{
    font-size: 20px;
    padding: 30px 0px 10px 0px;
    width: 500px;
  }
  .forecast-container-off-wrapper img {
    width: 150px;
    height: 150px;
  }
  .forecast-container-off-wrapper span {
    font-size: 40px;
    font-weight: 500;
  }
  .search-form-off{

  }
  .search-input-off {
    border: 1px solid rgb(223, 223, 223);
    border-radius: 10px;
    padding: 5px;
    font-size: 24px;
    width: 300px;
    height: 50px;
    text-align: center;
  }
}

@media (max-width:767px) {
  .forecast-container-off{
    font-size: 16px;
    padding: 30px 0px 10px 0px;
    width: 300px;
  }
  .forecast-container-off-wrapper img {
    width: 100px;
    height: 100px;
  }
  .forecast-container-off-wrapper span {
    font-size: 30px;
    font-weight: 500;
  }
  .search-form-off{

  }
  .search-input-off {
    border: 1px solid rgb(223, 223, 223);
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    width: 200px;
    height: 40px;
    text-align: center;
  }
  @media (max-width:424px) {
    .forecast-container-off-wrapper {
      padding: 30px 0px 15px 0px;
    }
    .forecast-container-off-wrapper img {
      width: 80px;
      height: 80px;
    }
    .forecast-container-off-wrapper span {
      font-size: 25px;
      font-weight: 500;
    }
    .forecast-container-off{
      font-size: 14px;
      padding: 30px 0px 10px 0px;
      width: 250px;
    }
    .search-input-off {
      font-size: 18px;
      width: 200px;
      height: 30px;
    }
  }
}